### Misc. ###
INFO.fmw.md
.cache/

### Python ###
__pycache__/
.env
*.pyc
venv-buildlib/

### Wheels ###
/build/
dist/
buildlib.egg-info/

### Intellij ###
*.iml
.idea/

### Vim ###
.swp

### testing ###
**/tmp/*

