
# Misc

INFO.fmw.md
**/tmp/*
.cache/
.git
.gitsub
.gitsub_hidden/


# Python

__pycache__/
.env
*.pyc
/build/
dist/
buildlib.egg-info/
.mypy_cache

# Ediors

.vscode
.history
*.iml
.idea/
.swp


sphinx/_docs/
