[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"ruamel.yaml" = "*"
setuptools = "*"
buildlib = "*"
yapf = "*"
pylint = "*"

[requires]
python_version = "3.5"
