[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "==0.701"
setuptools = "==41.0.1"
buildlib = "==2.1.7"
cmdi = "==0.4.0"
yapf = "==0.27.0"
docopt = "==0.6.2"
sphinx = "==2.1.2"
sphinx-rtd-theme = "==0.4.3"
sphinx-autodoc-typehints = {index = "https://felix-mw-pypi-download:3g3foOuTot6KImpRMV2a8MeGPKWZ2E2Y@registry.mewo.cloud/repository/mw-pypi/simple/",version = "*"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
