body {
    font-family: Arial, sans-serif !important;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
.rst-content,
.toctree-wrapper,
p.caption,
legend {
    font-family: Arial, sans-serif !important;
}

h1 {
    font-size: 32px;
    margin-top: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;
}

h2 {
    margin-top: 35px;
    margin-bottom: 30px;
}

h3 {
    margin-top: 30px;
}

p {
    margin-bottom: 12px;
}

li {
    padding-left: 10px;
}

pre {
    /* background: #f8f8f8; */
    background: #f8f8f8;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 14px !important;
    line-height: 21px !important;
}

blockquote {
    background: #fffcd7;
    margin-left: 0 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

a.icon-home {
    font-size: 24px;
    line-height: 40px;
}

.fa-home:before,
.icon-home:before {
    content: "";
}

.wy-nav-side,
.wy-side-nav-search {
    border-right: 1px solid #dcdfe3;
}

.toctree-l1 {
    margin-left: 5px;
}

.wy-menu-vertical a {
    line-height: 15px;
    font-size: 15px;
}

.wy-menu-vertical p.caption {
    height: 45px;
    line-height: 45px;
    /* background: #fafafa; */
    background: #f6f8fa;
    color: black;
    /* border-right: 1px solid #dcdfe3; */
}

a.reference.internal,
a.reference.external {
    color: #717171;
    background: transparent !important;
    border-right: 0;
}

a.reference.internal:hover,
a.reference.external:hover {
    color: #2980b9 !important;
    /* background: transparent !important; */
    background: #fdfdfd !important;
}

a.current.reference.internal,
a.current.reference.external {
    color: #2980b9 !important;
    /* background: transparent !important; */
    background: #fdfdfd !important;
}

/*
.wy-menu-vertical a {
    -webkit-box-shadow: inset -7px 0px 11px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset -7px 0px 11px -13px rgba(0, 0, 0, 0.75);
    box-shadow: inset -7px 0px 11px -13px rgba(0, 0, 0, 0.75);
}

.toctree-l1 a.reference.internal {
    line-height: 30px;
}

.toctree-l2 a.reference.internal {
    line-height: 25px;
}

.toctree-l3 a.reference.internal {
    line-height: 20px;
}

*/
.wy-menu-vertical li.current a:hover {
    background: #f5f5f5;
    border: 0;
}

.wy-menu-vertical li.on a,
.wy-menu-vertical li.current > a {
    border: 0;
}

.wy-menu-vertical li.current a {
    border: 0;
    /* background: #fafafa; */
    background: #f6f8fa;
}

.toctree-l1 .current {
    border: 0 !important;
}

.wy-menu-vertical li.current > a {
    border: 0 !important;
    font-weight: normal;
    color: #2980b9 !important;
}

.reference .internal .current {
    border: 0;
}

.wy-menu-vertical li.toctree-l2.current > a {
    /* background: #fafafa; */
    background: #f6f8fa;
    border: 0;
}

.wy-nav-content-wrap {
    background: #fdfdfd;
}

.wy-nav-content {
    background: #fdfdfd;
    padding-top: 10px !important;
}

*/ .wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    border: 0;
    /* background: #fafafa; */
    background: #f6f8fa;
}
/*

.wy-side-nav-search {
    margin-bottom: 0;
}

*/
nav.wy-nav-side {
    /* background: #fafafa; */
    background: #f6f8fa;
}
/*

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: sans-serif;
}

h1 {
    border-bottom: 3px solid #eee;
    line-height: 75px;
    margin-top: 0;
    margin-bottom: 34px;
}

h2 {
    line-height: 60px;
    border-bottom: 2px solid #eee;
    margin-bottom: 34px;
}

.btn-neutral {
    background-color: transparent !important;
}

footer, footer p {
    font-size: 12px;
}

footer div p {
    display: none;
}

pre, div[class^='highlight'] pre, .rst-content .highlight > pre {
    font-family: monospace;
    line-height: 22px;
}

.wy-menu .toctree-l1 ul {
    margin-left: 5px;
    border-left: 3px solid #eee;
}
*/
.wy-menu-vertical li.current {
    /* background: #fafafa; */
    background: #f6f8fa;
    border: 0;
}
/*

.wy-breadcrumbs {
    display: none;
}

div.rst-content div hr {
    display: none;
}


@media screen and (max-width: 768px) {

    h1 {
    }

    .wy-nav-content-wrap .wy-nav-content {
        padding: 0.75em 3.236em 1.618em;
    }
}


*/

.wy-menu-vertical li span.toctree-expand {
    color: #717171;
}

.wy-menu-vertical a:hover span.toctree-expand {
    color: #717171;
}

.wy-breadcrumbs {
    display: none;
}

.style-external-links hr {
    display: none;
}

footer {
    font-size: 12px;
    margin-top: 55px;
}

.rst-footer-buttons {
    margin-bottom: 20px;
}

div[role="contentinfo"] {
    display: none;
}

ul.simple li p {
    margin-bottom: 3px !important;
}

.rst-content .section > img,
.rst-content .section > a > img {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Effect Reset Tables
 * ===================
 */

table.table-register {
    padding: 5px 10px;
    margin-top: 10px;
}

table.table-register th {
    background: #f6f8fa;
    color: #404040;
    border-bottom: 1px solid #404040 !important;
    padding: 5px 10px 5px !important;
}

table.table-register td p {
    font-family: monospace;
    font-size: 14px;
    line-height: 12px !important;
}

table.table-register th p {
    margin-bottom: 5px;
}

table.table-register td:nth-child(2) p {
    font-family: sans-serif !important;
}

.admonition {
    margin-top: 20px;
}

/* Color Fg table
 * ==============
 */

table.table-color-fg,
table.table-color-bg {
    padding: 5px 10px;
}

table.table-color-fg th,
table.table-color-bg th {
    background: #f6f8fa;
    color: #404040;
    border-bottom: 1px solid #404040 !important;
    padding: 5px 10px 5px !important;
}

table.table-color-fg th p,
table.table-color-bg th p {
    margin-bottom: 5px;
}

table.table-color-fg td,
table.table-color-bg td {
    padding-left: 9px !important;
}

table.table-color-fg td p,
table.table-color-bg td p {
    font-family: monospace;
    font-size: 13px;
    line-height: 11px !important;
    padding-left: 0px;
}

table.table-color-fg td:nth-child(2) {
    background: #f6f6f6 !important;
}

table.table-color-fg td:nth-child(3) {
    background: #222222 !important;
    border-bottom: 1px solid #333333;
}

/* balck fg on light */
table.table-color-fg tr:nth-child(1) td:nth-child(2) {
    color: rgb(127, 127, 127) !important;
}
table.table-color-fg tr:nth-child(2) td:nth-child(2) {
    color: rgb(0, 0, 0) !important;
}
table.table-color-fg tr:nth-child(3) td:nth-child(2) {
    color: rgb(0, 0, 0) !important;
}

/* balck fg on dark */
table.table-color-fg tr:nth-child(1) td:nth-child(3) {
    color: rgb(127, 127, 127) !important;
}
table.table-color-fg tr:nth-child(2) td:nth-child(3) {
    color: rgb(0, 0, 0) !important;
}
table.table-color-fg tr:nth-child(3) td:nth-child(3) {
    color: rgb(0, 0, 0) !important;
}

/* red fg on light */
table.table-color-fg tr:nth-child(4) td:nth-child(2) {
    color: rgb(255, 0, 0) !important;
}
table.table-color-fg tr:nth-child(5) td:nth-child(2) {
    color: rgb(205, 0, 0) !important;
}
table.table-color-fg tr:nth-child(6) td:nth-child(2) {
    color: rgb(135, 0, 0) !important;
}

/* red fg on dark */
table.table-color-fg tr:nth-child(4) td:nth-child(3) {
    color: rgb(255, 0, 0) !important;
}
table.table-color-fg tr:nth-child(5) td:nth-child(3) {
    color: rgb(205, 0, 0) !important;
}
table.table-color-fg tr:nth-child(6) td:nth-child(3) {
    color: rgb(135, 0, 0) !important;
}

/* green fg on light */
table.table-color-fg tr:nth-child(7) td:nth-child(2) {
    color: rgb(0, 255, 0) !important;
}
table.table-color-fg tr:nth-child(8) td:nth-child(2) {
    color: rgb(0, 205, 0) !important;
}
table.table-color-fg tr:nth-child(9) td:nth-child(2) {
    color: rgb(0, 95, 0) !important;
}

/* green fg on dark */
table.table-color-fg tr:nth-child(7) td:nth-child(3) {
    color: rgb(0, 255, 0) !important;
}
table.table-color-fg tr:nth-child(8) td:nth-child(3) {
    color: rgb(0, 205, 0) !important;
}
table.table-color-fg tr:nth-child(9) td:nth-child(3) {
    color: rgb(0, 95, 0) !important;
}

/* yellow fg on light */
table.table-color-fg tr:nth-child(10) td:nth-child(2) {
    color: rgb(255, 255, 0) !important;
}
table.table-color-fg tr:nth-child(11) td:nth-child(2) {
    color: rgb(205, 205, 0) !important;
}
table.table-color-fg tr:nth-child(12) td:nth-child(2) {
    color: rgb(95, 95, 0) !important;
}

/* yellow fg on dark */
table.table-color-fg tr:nth-child(10) td:nth-child(3) {
    color: rgb(255, 255, 0) !important;
}
table.table-color-fg tr:nth-child(11) td:nth-child(3) {
    color: rgb(205, 205, 0) !important;
}
table.table-color-fg tr:nth-child(12) td:nth-child(3) {
    color: rgb(95, 95, 0) !important;
}

/* blue fg on light */
table.table-color-fg tr:nth-child(13) td:nth-child(2) {
    color: rgb(92, 92, 255) !important;
}
table.table-color-fg tr:nth-child(14) td:nth-child(2) {
    color: rgb(0, 0, 238) !important;
}
table.table-color-fg tr:nth-child(15) td:nth-child(2) {
    color: rgb(0, 0, 135) !important;
}

/* blue fg on dark */
table.table-color-fg tr:nth-child(13) td:nth-child(3) {
    color: rgb(92, 92, 255) !important;
}
table.table-color-fg tr:nth-child(14) td:nth-child(3) {
    color: rgb(0, 0, 238) !important;
}
table.table-color-fg tr:nth-child(15) td:nth-child(3) {
    color: rgb(0, 0, 135) !important;
}

/* magenta fg on light */
table.table-color-fg tr:nth-child(16) td:nth-child(2) {
    color: rgb(255, 0, 255) !important;
}
table.table-color-fg tr:nth-child(17) td:nth-child(2) {
    color: rgb(205, 0, 205) !important;
}
table.table-color-fg tr:nth-child(18) td:nth-child(2) {
    color: rgb(135, 0, 95) !important;
}

/* magenta fg on dark */
table.table-color-fg tr:nth-child(16) td:nth-child(3) {
    color: rgb(255, 0, 255) !important;
}
table.table-color-fg tr:nth-child(17) td:nth-child(3) {
    color: rgb(205, 0, 205) !important;
}
table.table-color-fg tr:nth-child(18) td:nth-child(3) {
    color: rgb(135, 0, 95) !important;
}

/* cyan fg on light */
table.table-color-fg tr:nth-child(19) td:nth-child(2) {
    color: rgb(0, 255, 255) !important;
}
table.table-color-fg tr:nth-child(20) td:nth-child(2) {
    color: rgb(0, 205, 205) !important;
}
table.table-color-fg tr:nth-child(21) td:nth-child(2) {
    color: rgb(0, 95, 95) !important;
}

/* cyan fg on dark */
table.table-color-fg tr:nth-child(19) td:nth-child(3) {
    color: rgb(0, 255, 255) !important;
}
table.table-color-fg tr:nth-child(20) td:nth-child(3) {
    color: rgb(0, 205, 205) !important;
}
table.table-color-fg tr:nth-child(21) td:nth-child(3) {
    color: rgb(0, 95, 95) !important;
}

/* white fg on light */
table.table-color-fg tr:nth-child(22) td:nth-child(2) {
    color: rgb(255, 255, 255) !important;
}
table.table-color-fg tr:nth-child(23) td:nth-child(2) {
    color: rgb(229, 229, 229) !important;
}
table.table-color-fg tr:nth-child(24) td:nth-child(2) {
    color: rgb(178, 178, 178) !important;
}

/* white fg on dark */
table.table-color-fg tr:nth-child(22) td:nth-child(3) {
    color: rgb(255, 255, 255) !important;
}
table.table-color-fg tr:nth-child(23) td:nth-child(3) {
    color: rgb(229, 229, 229) !important;
}
table.table-color-fg tr:nth-child(24) td:nth-child(3) {
    color: rgb(178, 178, 178) !important;
}

/* Color Bg table
 * ==============
 */

table.table-color-bg td:nth-child(2) {
    color: #f6f6f6 !important;
    border-bottom: transparent;
}

table.table-color-bg td:nth-child(3) {
    color: #333333 !important;
    border-bottom: transparent;
    border-left: 10px solid #cccccc;
}

/* balck bg on light */
table.table-color-bg tr:nth-child(1) td:nth-child(2) {
    background: rgb(127, 127, 127) !important;
}
table.table-color-bg tr:nth-child(2) td:nth-child(2) {
    background: rgb(0, 0, 0) !important;
}
table.table-color-bg tr:nth-child(3) td:nth-child(2) {
    background: rgb(0, 0, 0) !important;
}

/* balck bg on dark */
table.table-color-bg tr:nth-child(1) td:nth-child(3) {
    background: rgb(127, 127, 127) !important;
}
table.table-color-bg tr:nth-child(2) td:nth-child(3) {
    background: rgb(0, 0, 0) !important;
}
table.table-color-bg tr:nth-child(3) td:nth-child(3) {
    background: rgb(0, 0, 0) !important;
}

/* red bg on light */
table.table-color-bg tr:nth-child(4) td:nth-child(2) {
    background: rgb(255, 0, 0) !important;
}
table.table-color-bg tr:nth-child(5) td:nth-child(2) {
    background: rgb(205, 0, 0) !important;
}
table.table-color-bg tr:nth-child(6) td:nth-child(2) {
    background: rgb(135, 0, 0) !important;
}

/* red bg on dark */
table.table-color-bg tr:nth-child(4) td:nth-child(3) {
    background: rgb(255, 0, 0) !important;
}
table.table-color-bg tr:nth-child(5) td:nth-child(3) {
    background: rgb(205, 0, 0) !important;
}
table.table-color-bg tr:nth-child(6) td:nth-child(3) {
    background: rgb(135, 0, 0) !important;
}

/* green bg on light */
table.table-color-bg tr:nth-child(7) td:nth-child(2) {
    background: rgb(0, 255, 0) !important;
}
table.table-color-bg tr:nth-child(8) td:nth-child(2) {
    background: rgb(0, 205, 0) !important;
}
table.table-color-bg tr:nth-child(9) td:nth-child(2) {
    background: rgb(0, 95, 0) !important;
}

/* green bg on dark */
table.table-color-bg tr:nth-child(7) td:nth-child(3) {
    background: rgb(0, 255, 0) !important;
}
table.table-color-bg tr:nth-child(8) td:nth-child(3) {
    background: rgb(0, 205, 0) !important;
}
table.table-color-bg tr:nth-child(9) td:nth-child(3) {
    background: rgb(0, 95, 0) !important;
}

/* yellow bg on light */
table.table-color-bg tr:nth-child(10) td:nth-child(2) {
    background: rgb(255, 255, 0) !important;
}
table.table-color-bg tr:nth-child(11) td:nth-child(2) {
    background: rgb(205, 205, 0) !important;
}
table.table-color-bg tr:nth-child(12) td:nth-child(2) {
    background: rgb(95, 95, 0) !important;
}

/* yellow bg on dark */
table.table-color-bg tr:nth-child(10) td:nth-child(3) {
    background: rgb(255, 255, 0) !important;
}
table.table-color-bg tr:nth-child(11) td:nth-child(3) {
    background: rgb(205, 205, 0) !important;
}
table.table-color-bg tr:nth-child(12) td:nth-child(3) {
    background: rgb(95, 95, 0) !important;
}

/* blue bg on light */
table.table-color-bg tr:nth-child(13) td:nth-child(2) {
    background: rgb(92, 92, 255) !important;
}
table.table-color-bg tr:nth-child(14) td:nth-child(2) {
    background: rgb(0, 0, 238) !important;
}
table.table-color-bg tr:nth-child(15) td:nth-child(2) {
    background: rgb(0, 0, 135) !important;
}

/* blue bg on dark */
table.table-color-bg tr:nth-child(13) td:nth-child(3) {
    background: rgb(92, 92, 255) !important;
}
table.table-color-bg tr:nth-child(14) td:nth-child(3) {
    background: rgb(0, 0, 238) !important;
}
table.table-color-bg tr:nth-child(15) td:nth-child(3) {
    background: rgb(0, 0, 135) !important;
}

/* magenta bg on light */
table.table-color-bg tr:nth-child(16) td:nth-child(2) {
    background: rgb(255, 0, 255) !important;
}
table.table-color-bg tr:nth-child(17) td:nth-child(2) {
    background: rgb(205, 0, 205) !important;
}
table.table-color-bg tr:nth-child(18) td:nth-child(2) {
    background: rgb(135, 0, 95) !important;
}

/* magenta bg on dark */
table.table-color-bg tr:nth-child(16) td:nth-child(3) {
    background: rgb(255, 0, 255) !important;
}
table.table-color-bg tr:nth-child(17) td:nth-child(3) {
    background: rgb(205, 0, 205) !important;
}
table.table-color-bg tr:nth-child(18) td:nth-child(3) {
    background: rgb(135, 0, 95) !important;
}

/* cyan bg on light */
table.table-color-bg tr:nth-child(19) td:nth-child(2) {
    background: rgb(0, 255, 255) !important;
}
table.table-color-bg tr:nth-child(20) td:nth-child(2) {
    background: rgb(0, 205, 205) !important;
}
table.table-color-bg tr:nth-child(21) td:nth-child(2) {
    background: rgb(0, 95, 95) !important;
}

/* cyan bg on dark */
table.table-color-bg tr:nth-child(19) td:nth-child(3) {
    background: rgb(0, 255, 255) !important;
}
table.table-color-bg tr:nth-child(20) td:nth-child(3) {
    background: rgb(0, 205, 205) !important;
}
table.table-color-bg tr:nth-child(21) td:nth-child(3) {
    background: rgb(0, 95, 95) !important;
}

/* white bg on light */
table.table-color-bg tr:nth-child(22) td:nth-child(2) {
    background: rgb(255, 255, 255) !important;
}
table.table-color-bg tr:nth-child(23) td:nth-child(2) {
    background: rgb(229, 229, 229) !important;
}
table.table-color-bg tr:nth-child(24) td:nth-child(2) {
    background: rgb(178, 178, 178) !important;
}

/* white bg on dark */
table.table-color-bg tr:nth-child(22) td:nth-child(3) {
    background: rgb(255, 255, 255) !important;
}
table.table-color-bg tr:nth-child(23) td:nth-child(3) {
    background: rgb(229, 229, 229) !important;
}
table.table-color-bg tr:nth-child(24) td:nth-child(3) {
    background: rgb(178, 178, 178) !important;
}
